.main-tables-container {
    width: 930px;
    margin: 0 auto;
}
.main-commission-table {
    margin: 0 40px 0 20px;
}

.product-card--container {
  display: flex;
  flex-wrap: wrap;
  width: 930px;     
  margin: 0 auto;
}

.plans-container--slider {
    justify-content: center;
}

